---
import Layout from "../layouts/Layout.astro"
import TechStackGroup from "../components/TechStackGroup.astro"
import GitHubLogo from "../components/GitHubLogo.astro"
import LinkIcon from "../components/LinkIcon.astro"
import ProjectDescription from "../components/ProjectDescription.tsx"

import {
    wasteAidTechStack,
    wasteAidDescription,
    talkshawkTechStack,
    talkshawkDescription,
} from "../utils/data"
---

<Layout title="Keval Mistry">
    <main class="max-w-[700px] px-5 py-20 mx-auto">
        <div>
            <h1 class="text-3xl font-semibold">Hi 👋</h1>
            <h1 class="mt-2 text-4xl font-bold">I'm Keval</h1>
            <p class="mt-6 leading-6">
                And I'm just a guy who's into programming, more specifically web
                development. I've been working in the web development space for
                more than 2 years individually and for 1 year professionally. My
                strongest point is frontend, and (yeah, you guessed it right!) I
                specialize in React and its ecosystem. I also take part in
                backend tasks from time to time, and in 2024, one of my goals is
                to learn more about backend development that scales. Also, I'm a
                big developer experience and tooling enthusiast; I love seeing
                low-level languages like Rust and Go penetrating this space.
            </p>
        </div>

        <div class="mt-40">
            <p class="text-2xl font-medium">Work Experience</p>
            <div class="w-full border-t mb-6 border-gray-500"></div>

            <div class="pl-2">
                <p
                    class="text-3xl font-medium flex items-center gap-2 flex-wrap"
                >
                    1. CultureX Entertaiment Pvt. Lmt.
                </p>
                <p class="font-thin italic text-gray-200 text-sm">
                    30-Jan-23 to 31-Jul-23 · Internship | 01-Aug-23 to Present ·
                    Full-Time
                </p>
                <span
                    class="bg-[#4d4d4d] mt-1 w-fit px-2 rounded-full pb-0.5 text-base flex items-center justify-center font-normal"
                    >Frontend Developer</span
                >

                <div
                    class="pl-[1px] mt-2 ml-2 bg-gradient-to-b from-[#4d4d4d] from-75% to-transparent to-100%"
                >
                    <div class="list-disc bg-[#111] text-gray-200 pb-5">
                        <p class="relative pl-3 mb-2">
                            <span
                                class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                            ></span>
                            I had joined CulturX as frontend intern where my job
                            was to transform Figma designs into production ready
                            UI with Reactjs
                        </p>
                        <p class="relative pl-3 mb-2">
                            <span
                                class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                            ></span>
                            As time went i took many responsibilies and have done
                            some prominent things:
                        </p>
                        <p class="relative pl-3 mb-2">
                            <span
                                class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                            ></span>
                            I migrated company's two CRA (create-react-app) projects
                            to vite and increased development build speed by 10-100x
                            and production build speed by 2x
                        </p>
                        <p class="relative pl-3 mb-2">
                            <span
                                class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                            ></span>
                            I migrated project from bootstrap to Tailwind which allowed
                            us to develop UI at much faster pace & also allowed us
                            to use tailwind dependent UI solutions like Shad-cn
                        </p>
                        <p class="relative pl-3 mb-2">
                            <span
                                class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                            ></span>
                            I created a micro-service to generate PDF file by leveraging
                            packages like puppetear & React which looks like this
                            & this
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-40">
            <p class="text-2xl font-medium">Personal Projects</p>
            <div class="w-full border-t mb-6 border-gray-500"></div>

            <div
                class="border-2 rounded-xl border-[#4d4d4d] bg-[#4d4d4d20] py-2 pb-4 px-3"
            >
                <div class="flex items-end justify-between">
                    <h6 class="text-2xl hover:underline font-medium flex-1">
                        <a
                            href="https://waste-aid.kevalmiistry.me/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2"
                        >
                            Waste-Aid
                            <LinkIcon />
                        </a>
                    </h6>
                    <div
                        class="flex h-[35px] w-full flex-1 items-center justify-end"
                    >
                        {
                            wasteAidTechStack.map((item, idx) => (
                                <TechStackGroup idx={idx} item={item} />
                            ))
                        }
                    </div>
                </div>

                <ProjectDescription
                    description={wasteAidDescription}
                    client:load
                />

                <div class="overflow-x-auto flex items-center gap-2 mt-4">
                    <a
                        href="https://github.com/kevalmiistry/waste-aid"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <GitHubLogo />
                    </a>
                </div>
            </div>

            <div
                class="border-2 rounded-xl border-[#4d4d4d] bg-[#4d4d4d20] py-2 pb-4 px-3 mt-4"
            >
                <div class="flex items-end justify-between">
                    <h6 class="text-2xl hover:underline font-medium flex-1">
                        <a
                            href="https://talkshawk.kevalmiistry.me"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2"
                        >
                            TalkShawk
                            <LinkIcon />
                        </a>
                    </h6>
                    <div
                        class="flex h-[35px] w-full flex-1 items-center justify-end"
                    >
                        {
                            talkshawkTechStack.map((item, idx) => (
                                <TechStackGroup idx={idx} item={item} />
                            ))
                        }
                    </div>
                </div>

                <ProjectDescription
                    description={talkshawkDescription}
                    client:load
                />

                <div class="overflow-x-auto flex items-center gap-2 mt-4">
                    <a
                        href="https://github.com/kevalmiistry/TalkShawk_frontend"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Frontend Repository"
                    >
                        <GitHubLogo />
                    </a>
                    <a
                        href="https://github.com/kevalmiistry/talkshawk_backend"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Backend Repository"
                    >
                        <GitHubLogo />
                    </a>
                </div>
            </div>
        </div>
    </main>
</Layout>
